# example for the .env file.
# api key for apilayer.com
# replace <your_api_key_here> with api key that available at https://apilayer.com/account
API_KEY=your_api_key_here
# api url - https://api.apilayer.com/exchangerates_data/convert?to=RUB&from={{CURRENCY}}&amount={{AMOUNT}}&date={{DATE}}
# {{CURRENCY}} - currency code, {{AMOUNT}} - float number, {{DATE}} - date, '2024-12-08'.
# don't replace it
API_URL=https://api.apilayer.com/exchangerates_data/convert?to=RUB&from={{CURRENCY}}&amount={{AMOUNT}}&date={{DATE}}
# api result key
# don't replace it
API_RESULT=result
